version: '3.2'
services:

{% for ansible_version in ansible_versions %}
  ansible-{{ ansible_version }}:
    image: {{ docker_registry }}/playwithansible/ansible:{{ ansible_version }}
    hostname: ansible-{{ ansible_version }}
    environment:
      - ANSIBLE_INVENTORY=/ansible/inventories/inventory.ini
    volumes:
      - /var/run/playwithansible/{{ pwa_stackname }}/ansible/inventories:/ansible/inventories:ro
{% endfor %}

{% for distribution in pwa_distributions %}
  {{ distribution }}:
    image: {{ docker_registry }}/playwithansible/{{ distribution }}:{{ pwa_version }}
    hostname: {{ distribution }}
    domainname: pwa.net
    ports:
      - "22"
{% endfor %}